<span {{action 'focus' node}}>{{node.value.name}}</span>
{{#if node.children}}
  <ul>
    {{#each node in node.children}}
      {{tree-node node=node currentNode=currentNode focus="focus"}}
    {{/each}}
  </ul>
{{/if}}
