/* If you move your cursor quickly it'll move outside of the block and change. */
/* This fixes that behavior. */
body.dragging { -moz-user-select: none; -webkit-user-select: none; user-select: none; }
body.dragging, body.dragging * { cursor: move !important; }

/* Set up a block. */
.dragproxy { position: absolute; top: 0; left: 0; z-index: 1000; -webkit-transform: translateZ(0); -webkit-transform: translate(-100px, -100px); transform: translate(-1000px, -1000px); }
