/* The overall container for the application area is a horizontal flexbox with 100% height. */
.index { height: 100%; }
.index {
  display: -webkit-flex;
  -webkit-flex-direction: row;

  display: flex;
  flex-direction: row;
}

.index {
  .state { width: 20%; min-width: 100px; }
  .router { width: 20%; min-width: 100px; }
  .workspace { width: 60%; min-width: 160px; }

  /* The state, router, and workspace sections are also flexboxes. */
  .state, .router, .workspace {
    display: -webkit-flex;
    -webkit-flex-direction: column;

    display: flex;
    flex-direction: column;
  }
  .state, .router, .workspace { height: 100%; @include webkitcalc(height, "100% - 40px"); }

  .workspace .canvas { height: 60%; }
  .workspace .details { height: 30%; }
  .workspace .stepper { height: 10%; }

  /* Force height calculation to account for the header. */
  .resize.horizontal { height: calc(100% - 40px); }
}
