<header class="main">
  <h1>ember-flows</h1>
  <a class="button" href="https://github.com/nathanhammond/ember-flows-generator"><img src="img/fork.svg" height="16px" alt="Fork Me on GitHub" /></a>
  <div class="buttons"><button>IMPORT</button><button>EXPORT</button></div>
</header>
<main>
{{outlet}}
</main>
