<div class="state">
  <h2>State</h2>
  <textarea></textarea>
</div>

<div class="workspace">
  <div class="canvas">
    <h2>Diagram</h2>
  </div>
  <div class="details">
    <h2>Details</h2>
  </div>
</div>

<div class="router">
  <h2>Routes</h2>
  <textarea></textarea>
</div>
