<div class="state">
  <h2>State</h2>
  <textarea></textarea>
</div>
<div>
  <div class="canvas">
    <h2>Diagram</h2>
  </div>
  <div class="router">
    <h2>Routes</h2>
    <textarea></textarea>
  </div>
</div>
